.background-tophalf {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.background-tophalf::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.background-bottomhalf {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;
}

.background-bottomhalf::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-text {
  text-align: center;
  justify-content: center;
}

hr {
  margin: auto;
}

.home-box1 {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  justify-content: center;
}

.quotation-mark {
  font-family: "Coustard";
  color: white;
  font-size: 10em;
  margin-bottom: -300px;
  padding-right: 50px;
  margin-top: -45px;
}

.quote {
  font-size: 20px;
}

.home-box2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  justify-content: center;
}

.home-box3 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  justify-content: center;
}

.ski {
  border-radius: 10px;
  width: 425px;
  height: 250px;
  object-fit: cover;
  object-position: 25% 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.hike {
  border-radius: 10px;
  width: 425px;
  height: 250px;
  object-fit: cover;
  object-position: 25% 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.home-box3-text {
  padding-top: 30px;
  padding-bottom: 15px;
}

.lm-btn {
  display: inline-block;
  background: #fb2056;
  color: white;
  border-radius: 50px;
  padding: 8px 16px;
  font-weight: 600;
}

.bg-text2 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-style: normal;
}
